# This file is a "template" of what your .env file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

SYMFONY_ENV="dev"
SYMFONY_DEBUG=1

DATABASE_HOST="127.0.0.1"
DATABASE_PORT="~"
DATABASE_NAME="symfony"
DATABASE_USER="root"
DATABASE_PASSWORD="~"

# You should uncomment this if you want use pdo_sqlite
#DATABASE_PATH="%kernel.root_dir%/data.db3"

MAILER_TRANSPORT="smtp"
MAILER_HOST="127.0.0.1"
MAILER_USER="~"
MAILER_PASSWORD="~"

# A secret key that's used to generate certain security-related tokens
SECRET="ThisTokenIsNotSoSecretChangeIt"
